.mat-snack-bar-container {
  &.success {
    background: #28a745;
    color: white;
  }

  &.default {
    background: #343a40;
    color: white;
  }

  &.info {
    background: #17a2b8;
    color: white;
  }

  &.error {
    background: #dc3545;
    color: white;
  }
}
